:root {
  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana;
  --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana;
  --color-one: rgb(236, 70, 57);
  --color-two: #6BC9F2;
  --color-three: #007096;
  --color-four: #1ab7ea;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-grey: #f1f1f1;
  --color-grey: #808080;

  --header-height: 100px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
  Text Tags
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.17em;
}
h4, .h4 {
  font-size: 1em;
}
h5, .h5 {
  font-size: 0.83em;
}
h6, .h6 {
  font-size: .67em;
}

p, .p {
  font-family: var(--primary-font);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  Header
**/
.header, header {
  height: var(--header-height);
}

/**
  Footer
**/
.footer, footer {
  margin-top: auto;
  color: grey;
}

/**
  Display
**/
.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
.display-inline-block {
  display: inline-block !important;
}

/**
  Color
**/
.color-one {
  color: var(--color-one);
}
.background-one {
  background-color: var(--color-one);
}
.color-two {
  color: var(--color-two);
}
.background-two {
  background-color: var(--color-two);
}
.color-three {
  color: var(--color-three);
}
.background-three {
  background-color: var(--color-three);
}
.color-four {
  color: var(--color-four);
}
.background-four {
  background-color: var(--color-four);
}
.color-white {
  color: var(--color-white);
}
.background-white {
  background-color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.background-black {
  background-color: var(--color-black);
}
.color-light-grey {
  color: var(--color-light-grey);
}
.background-light-grey {
  background-color: var(--color-light-grey);
}
.color-grey {
  color: var(--color-grey);
}
.background-grey {
  background-color: var(--color-grey);
}
.background-none {
  background: none;
}

/**
  Background Color Hover
**/
.background-color-one-hover:hover {
  background-color: var(--color-one);
  transition: background-color 0.5s ease;
}
.background-color-two-hover:hover {
  background-color: var(--color-two);
  transition: background-color 0.5s ease;
}
.background-color-three-hover:hover {
  background-color: var(--color-three);
  transition: background-color 0.5s ease;
}
.background-color-four-hover:hover {
  background-color: var(--color-four);
  transition: background-color 0.5s ease;
}
.background-white-hover:hover {
  background-color: var(--color-white);
  transition: background-color 0.5s ease;
}
.background-black-hover:hover {
  background-color: var(--color-black);
  transition: background-color 0.5s ease;
}

/**
  Color Hover
**/
.color-one-hover:hover {
  color: var(--color-one);
  transition: color 0.5s ease;
}
.color-two-hover:hover {
  color: var(--color-two);
  transition: color 0.5s ease;
}
.color-three-hover:hover {
  color: var(--color-three);
  transition: color 0.5s ease;
}
.color-four-hover:hover {
  color: var(--color-four);
  transition: color 0.5s ease;
}
.color-black-hover:hover {
  color: var(--color-black);
  transition: color 0.5s ease;
}
.color-white-hover:hover {
  color: var(--color-white);
  transition: color 0.5s ease;
}

/**
  Border
**/
.border-none {
  border: none;
}
.border {
  border: 1px solid var(--color-black);
}
.border-grey {
  border: 1px solid var(--color-grey);
}

/**
  Flex
**/
.flex-row {
  display: flex !important;
  flex-direction: row;
}
.flex-column {
  display: flex !important;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  flex: 1 0 0;
}

/**
  Margin
**/
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 40px;
}
.m-50 {
  margin: 50px;
}
.m-60 {
  margin: 60px;
}
.m-70 {
  margin: 70px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-auto {
  margin-top: auto;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-auto {
  margin-left: auto;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-auto {
  margin-right: auto;
}
.m-auto {
  margin: auto;
}

/**
  Padding
**/
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}
.p-50 {
  padding: 50px;
}
.p-60 {
  padding: 60px;
}
.p-70 {
  padding: 70px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-70 {
  padding-left: 70px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-50 {
  padding-right: 50px;
}
.pr-60 {
  padding-right: 60px;
}
.pr-70 {
  padding-right: 70px;
}

/**
  Border Radidus
**/
.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-100pc {
  border-radius: 100%;
}

/**
  Align-items
**/
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-end {
  align-items: end;
}

/**
  Justify-content
**/
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

/**
  Text-align
**/
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

/**
  Text Decoration
**/
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-underline {
  text-decoration: underline;
}

/**
  Cursors
**/
.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
}

/**
  Modal
**/
.modal {
  position: fixed;
  z-index: 1337;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: var(--color-white);
  padding: 20px;
  border: 1px solid var(--color-grey);
  width: 50%;
  min-width: 575px;
  margin-top: -5%;
}



.page-content {
  height: calc(100vh - var(--header-height));
  margin-top: calc(-1 * var(--header-height));
  
}


.content {
}
.content-enter {
  opacity: 0;
  transform: scale(1.1);
}

.content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.content-exit {
  opacity: 1;
  transform: scale(1);
}

.content-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}